.blink {
    animation: blinker 0.9s linear infinite;
    color: #1c87c9;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    }
    @keyframes blinker {  
    50% { opacity: 0; }
    }